<div class="d-flex align-items-center vh-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="signup-form p-4 p-md-5 rounded-4 form-container">
          <div>
            <h2 class="signup-title mb-5">Crear cuenta de administrador</h2>
          </div>

          <!-- Signup Form -->
          <form [formGroup]="register" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
              <div class="col-6">
                <input 
                  type="text" 
                  class="form-control" 
                  formControlName="nombreAdmin" 
                  placeholder="Nombre"
                >
                </div>
                

              <div class="col-6">
                <!-- <label class="form-label">Last Name</label> -->
                <input 
                  type="text" 
                  class="form-control" 
                  formControlName="apellidoAdmin"
                  placeholder="Apellido"
                >
              </div>
            </div>

            <div class="mb-3">
              <!-- <label class="form-label">Email Address</label> -->
              <input 
                type="email" 
                class="form-control" 
                formControlName="emailAdmin"
                placeholder="Correo electrónico"
              >
              <div *ngIf="emailAdmin.invalid && (emailAdmin.dirty || emailAdmin.touched)"
                  class="error-container ">
                      <div *ngIf="emailAdmin.errors?.['required']">
                          Email requerido.
                      </div>
                      <div *ngIf="emailAdmin.errors ?.['email'] || emailAdmin.errors ?.['pattern']">
                          Formato inválido.
                      </div>
              </div>
              
            </div>

            <div class="row mb-3">
              <div class="col-6">
                <div class="input-group">
                  <input 
                    [type]="showPassword ? 'text' : 'password'" 
                    class="form-control" 
                    formControlName="contrasenaAdmin"
                    placeholder="contraseña"
                  >
                  <button 
                    class="btn btn-outline-secondary" 
                    type="button"
                    (click)="togglePasswordVisibility()"
                  >
                    <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                  </button>
                </div>
              </div>
              <div class="col-6">
                <!-- <label class="form-label">Confirm Password</label> -->
                <input 
                  type="password" 
                  class="form-control" 
                  formControlName="confirmPassword"
                  placeholder="Confirma contraseña"
                >
              </div>
            </div>

            <div class="mb-4">
              <!-- <label class="form-label">Phone Number</label> -->
              <input 
                type="tel" 
                class="form-control" 
                formControlName="cedulaAdmin"
                placeholder="Cedula"
              >
            </div>

            <button 
              type="submit" 
              class="btn btn-primary w-100"
              [disabled]="!register.valid"
            >
              Crear Administrado
            </button>
          </form>
        </div>
      </div>
    </div>
